<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
	<title>Gomila and Others Dev Agency</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.css"/>
	<link rel="stylesheet"  href="main.css"/>
	<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/jquery-ui.min.css"/>

	<script src="bootstrap-3.3.5-dist/js/angular.min.js"></script>
	<script src="bootstrap-3.3.5-dist/js/controllers.js"></script>

</head>

<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">About Us</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#Projects">Our Projects <span class="sr-only">(current)</span></a></li>
        <li><a href="#profile">FOUNDER</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Design IT</a></li>
            <li><a href="#">Develop IT</a></li>
            <li><a href="#">Make IT Mobile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Host IT</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make IT Graphics</a></li>
            <li><a href="#">CopywrIghT</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Talk to Us</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid">
	<section class="row text-center jumbotron" id="slogan">
	<h1>This is What We Do, This is Our Passion!!</h1>	
    <button type="button" class="btn btn-warning">Go to Founder's Profile</button>
	</section>

</div>




<section class="container" id="projects">

		<div class="page header">

		</div>
	
		<h1 class="text-center" id="Projects">Projects </h1>
		


		<div class="row">
		
				<div class="col-sm-4">
					<a href="http://www.coca-colacompany.com/brands/the-coca-cola-company/">
						<img class="crop" src="bootstrap-exercise/../Images/coke2.jpg"/>
					</a>
					<h4>Coca-cola Product Promotion Site</h4>
				</div>

			
				<div class="col-sm-4">
					<a href="http://devpost.com/software/mkombozi">
						<img class="crop" src="bootstrap-exercise/../Images/mkombozi1.jpg"/>
					</a>
					<h4>Mkombozi Web App</h4>
				</div>
			
			
				<div class="col-sm-4">
					<a href="http://yubabikes.com/boda-boda/boda-boda-8-speed">
						<img class="crop" src="bootstrap-exercise/../Images/bodaboda2.jpg"/>
					</a>
					<h4>'PataBodaa..' Mobile App</h4>
				</div>
		</div>

		
		<div class="row">

					<div class="col-sm-4">
						<img class="crop" src="bootstrap-exercise/../Images/mobilephone.jpg"/>
						<h4>Mobile Apps Development at TheDevShop</h4>
					</div>

					<div class="col-sm-4">
						<img class="crop" src="bootstrap-exercise/../Images/wya.png"/>
						<h4>World Youth Alliance Conference App</h4>
					</div>

					<div class="col-sm-4">
						<img class="crop" src="bootstrap-exercise/../Images/wordpress.png"/>
						<h4>WordPress Online Community Contributer</h4>
					</div>
		</div>

</section>



	

<section class="container">
		<div class="row">
					
			<div class="col-sm-3">Language</div>
			<div class="col-sm-3">Language</div>
			<div class="col-sm-3">Language</div>
			<div class="col-sm-3">Language</div>
	
		</div>

</section>




<section class="container" id="projects">

		<div class="page-header">
		<h1 class="text-center">Open source stuff</h1>
		</div>
		
		<div class="row" id="open-source-container">
			
		</div>

</section>






<section class="">
	<div class="page-header">
		<h1>Angular Example</h1>
	</div>

	<div class="col-sm-6" ng-init="age=20;year=2015">
		<input type="number" ng-model="cash" placeholder="Please Enter your Cash"/>

		<h1 ng-bind="cash"></h1>KES

		<input type="number" ng-model="expenses" placeholder="Please Enter Your Expenses">

		<h1 ng-bind="expenses"></h1>KES

		<!--Angular Expression-->
		<h2>{{cash-expenses}}</h2>
		<p> My Age is: {{age}}</p>		
		<p> The Year is: {{year}}</p>
	</div>




	<div class="col-sm-6" ng-controller="detailsController">

		<h6>First Name:{{fname}}</h6>
		<h6>Last Name:{{lname}}</h6>
		<h6>Course:{{course}}</h6>
		<h6>School:{{school}}</h6>
		<h6>Grade:{{grade}}</h6>

	</div>

	

	<div class="col-sm-6" ng-controller="carsController">
		<table border ="1" width = "80%">
			<input type="text" ng-model="test">
			<tr ng-repeat="x in cars | filter:test | orderBy:'year'">
					<td>{{x.type | uppercase}}</td>
					<td>{{x.model}}</td>
					<td>{{x.brand}}</td>
					<td>{{x.year | number: 2}}</td>
					
					<td>
						<p ng-show= "{{x.year}} <= 2007">This car is too Old</p>
						<p ng-show= "{{x.year}} > 2007">This car is New</p>
					</td>
			</tr>

				

		</table>

	</div>


</section>


<!-- Company Profile-->

<section class="container" id="profile">
		<div class="row">
			<div class="page-header text-center">
				<h1>Profile</h1>
			</div>
			<div class="col-sm-6 ">
				<div id="accordion">
					<h3>Vision</h3>
						<div>
							<p>To be the leading Web Design/Development, software development and mobile applications 
							   solutions provider across the African continent and the rest of the world </p>
						</div>

					<h3>Mission</h3>
						<div>
							<p>Reaching out to the unreached and solving their technological and business challenges</p>
						</div>

					<h3>Objective</h3>
						<div>
							<p>To answer to the mantra 'all work and no play makes Jack a dull boy' and say 'that's if Jack 
							   is doing the wrong job'. We mean: enjoy the trade-Develop the Web, Impact and do Business</p>
						</div>

				</div>


	</div>


			<div class="col-sm-6">
					<div id="tabs">
					  <ul>
					    <li><a href="#tabs-1">TRAINING</a></li>
					    <li><a href="#tabs-2">EXPERIENCE</a></li>
					    <li><a href="#tabs-3">SKILLS</a></li>
					  </ul>
				  	
				  	<div id="tabs-1">
				    <p>Gomila is currently taking a Web Development course at The Dev School. He has undergone various training sessions at the workplace on Social and Digital Marketing, Sales, Customer service and basic Accounting. Possesses a Diploma in IT from La Contessa College and Excellence in academics and leadership in high school.  </p>
				  	</div>
				  	
				  	<div id="tabs-2">
				    <p>He has worked with various organisations like CMS AFRICA on social media publicity and front-end development of their CMS SUMMIT conference app. And currently working on the Mkombozi Project as a front-end developer using JavaScript, CSS, Bootstrap, HTML and AngularJS. He has also collaborated with various developers on server-side Web application development</p>
				  	</div>
				  	
				  	<div id="tabs-3">
				    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lore</p>
				    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi.</p>
				  	</div>
			</div>
	
</section>


<section class = "row">

	<div id = "list8" class = "col-sm-12" ng-controller = "blogsController">

		<!--Mapping our server response to a list-->
		<input type="text" ng-model="test"
		<ul ng-repeat= "x in blogs | filter:test">

			<li>{{x.email}}</li>
			<li>{{x.body}}</li>
			<li>{{x.name}}</li>
		</ul>
	</div>
</section>











<section class="container" id="footer">


	<footer class="row">
		<h2 class="text-center">Talk to Us</h2>
		

			<form class="col-sm-6" id="contact-form" action="/" method="post">

				<div class="form-group">
    				<label for="exampleInputEmail1">Email address</label>
    				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				</div>
		

				<div class="form-group">
    				<label for="InputPassword1">Full name</label>
    				<input type="text" name="fullname" class="form-control" id="exampleInputFullName1" placeholder="Full Name">
  				</div>


  				<div class"textarea">
    				<label for="exampleInputComment">Leave a Comment</label>
    				<textarea type="text" name="leavecomment" class="textarea" id="exampleInputComment" rows="4" placeholder="Comment">
    				</textarea>
    			</div>
    		

    			<button type="button" class="btn btn-primary btn-lg active">Submit</button>
    	
    	
    		</form>

    	<div class="col-sm-6">

		</div>
	
	</footer>


</section>



<script src="bootstrap-3.3.5-dist/js/jquery.min.js"></script>

<script src="bootstrap-3.3.5-dist/js/jqueryui.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/jqueryuiwork.js"></script>

<script src="bootstrap-3.3.5-dist/js/jqueryuiwork.js"></script>
<script src="bootstrap-3.3.5-dist/js/jqueryui.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="./main.js"></script>


</body>
</html>