#slogan
{
background-image: url('Images/photocover.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 200px;
color: #ab47bc
}

.crop 
{
width: 80%;

height: 150px;

height: 180px;

border-radius: 25px;
}